fastapi==0.115.6
numpy==2.2.1
Pillow==10.0.1
protobuf==5.29.2
pydantic==2.10.4
pymongo==4.10.1
python-dotenv==1.0.0
itsdangerous==2.1.2
bcrypt==4.2.1
scikit_learn==1.6.0
starlette==0.41.0  
uvicorn==0.22.0
google.generativeai